<div class="col">
	<div class="card product-card">
		<img src="~/Images/computer.png" class="card-img-top" alt="">
		<div class="card-body pie-button">
			<div class="d-flex justify-content-between mt-2">
				<h2 class="text-start">
					<a class="h2">Accer Nitro</a>
				</h2>
				<h3 class="text-nowrap price">1010.24 лв.</h3>
			</div>
			<h4 class="">
				<a class="btn btn-secondary">Виж още</a>
			</h4>
		</div>
	</div>
</div>