@model Product

<div class="col">
	<div class="card product-card">
		<img src="@Model.ImageUrl" alt="">
		<div class="card-body pie-button">
			<div class="d-flex justify-content-between mt-2">
				<div container>
					<div class"row">
						<div class="col">
							<h2 class="">
								<a class="h2">Accer Nitro</a>
							</h2>
						</div>
					</div>
					<div class"row">
						<div class="col">
							<h3 class="price">@Model.Price лв.</h3>
						</div>
					</div>
				</div>
				
			</div>
			<h4 class="">
				<a asp-controller="ProductDetails"
				asp-action="Show" asp-route-productID="@Model.ID" class="btn btn-secondary">Виж още</a>
			</h4>
		</div>
	</div>
</div>