<partial name="_Carousel">
	<div class="text-center">
		<h1>Продукти на седмицата</h1>
		<h5>Прегледайте селекцията от нашите top предложения</h5>

		<div class="row products-of-the-week">
			<div class="row row-cols-1 row-cols-md-3 g-4">
				<!---<partial name="_Card">->
			</div>
		</div>
	</div>
