@model User;

<partial name="_Carousel">
	<div class="text-center">
		<h1 class="product-of-the-week">Продукти на седмицата</h1>
		<h2 class="product-of-the-week">Прегледайте селекцията от нашите top предложения</h2>
		<!---<div class="row products-of-the-week">
			<!---<div class="row row-cols-1 row-cols-md-3 g-4">
				<!---<partial name="_Card">->
									<!---</div>
				<!---</div>
		</div>

