@import "../lib/bootstrap/scss/_functions.scss";
@import "../lib/bootstrap/scss/_variables.scss";

body {
    background-color: #171715;
}

.nav-link {
    color: white;
}

.nav-link :hover {
    text-decoration: underline;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #212529;
    background-clip: border-box;
    border: 5px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-bottom: 20px;
}

.product-card {
    border: none;
    background-color: white;
}

.products-of-the-week {
    margin-top: 52px;
}

.d-grid {
    display: grid !important;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #36302C;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 1.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-secondary {
    width: 200px;
    color: white;
    font-size: 20px;
    background-color: #6495ED;
}

.btn-secondary:hover {
    color: white;
    background-color: #0047AB;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.card-img,
.card-img-top,
.card-img-bottom {
    width: 100%;
}

.card-img,
.card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.text-nowrap {
    white-space: nowrap !important;
}

.product-link {
    text-decoration: none;
}

.price {
    color: indianred;
}

.login-dark {
    height: 1000px;
    background: #475d62 url(../../assets/img/star-sky.jpg);
    background-size: cover;
    position: relative;
    color: white;
}

.login-dark form {
    max-width: 320px;
    width: 90%;
    background-color: #1e2833;
    padding: 40px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}

.login-dark .illustration {
    text-align: center;
    padding: 15px 0 20px;
    font-size: 100px;
    color: #2980ef;
}

.login-dark form .form-control {
    background: none;
    border: none;
    border-bottom: 1px solid #434a52;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: white;
}

.login-dark form .btn-primary {
    background: #286cc7;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 26px;
    text-shadow: none;
    outline: none;
    color: white;
    left: 50%;
    width:240px;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
    background: #214a80;
    outline: none;
}

.login-dark form .forgot {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
    padding-top: 20px;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
    opacity: 1;
    text-decoration: none;
}

.login-dark form .btn-primary:active {
    transform: translateY(1px);
}
.sr-only{
    text-align : center;
}


.product-of-the-week
{
    color: white;
}

.footer-offset{
    
}

section {
    color: white;
}
.product{
    padding-top: 50px;
}