@model IEnumerable<Category>

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			Продукти
		</a>
		<ul class="dropdown-menu">
			@foreach (var category in Model)
			{
				<li><a class="dropdown-item" href="#">@category.Name</a></li>
			}
		</ul>
</ul>